[submodule "pandora-libraries"]
    path = deps/pnd/src
    url = git://git.openpandora.org/pandora-libraries.git
    branch = master
[submodule "milkyhelper"]
    path = deps/milky/src
    url = git://github.com/Cloudef/milkyhelper.git
[submodule "jansson"]
    path = deps/jansson/src
    url = git://github.com/akheron/jansson.git
